/* version: 2.5.0 */

html {
    background-color: #fbf0e8;
    color: #502810;
}
body {
    margin:40px auto;
    max-width:100ex;
    line-height:1.4;
    font-size:20px;
    padding:0 10px;
}

h1, h2, h3, h4, h5, h6, label, a:link { color: #a00000; }
h2 {
    padding-top: 3ex;
    margin-top: 3ex;
    border-top: solid 1px #4002;
    padding-bottom: 1ex;
    margin-bottom: 1ex;
}
h3 { margin-top: 3ex; }

label {
    font-size:80%;
    font-style: italic;
}

code, .tag, pre.src, pre.example {
    font-size: 80%;
    background-color: #fff8f4;
    border-color: #fff;
}

code {
    border-radius: 3px;
    padding: 0ex 0.5ex 0ex 0.5ex;
    display: inline-block;
}

pre.src { margin: 0.5ex 1ex 2ex 1ex; }
a:link { text-decoration: none; }

#postamble { background-color: #edc
