/* version: 2.3.1-WIP */

html {
    background-color: #f8e8e0;
    color: #502810;
}
body {
    margin:40px auto;
    max-width:80ex;
    line-height:1.4;
    font-size:20px;
    padding:0 10px;
}

h1, h2, h3, h4, h5, h6 { color: #800000; }
label { color: #800000; font-style: italic; }

code {
    border-radius: 3px;
    background-color: #fff4f0;
    padding: -2px;
    display: inline-block;
}
